@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

div {
    font-family: "Montserrat", sans-serif;
}

h4 {
    color: #080916cc !important;
}

button {
    background-color: #080916cc;
    color: white;
    margin: 0px 0px 0px -1px;
    padding: 6px 12px;
    border-radius: 8px;
    transition: .2s ease;
}

button:hover {
    background-color: white;
    color: #080916cc;
}
